<div id="comment-form-wrapper">
  <form >
    <div class="form-group">
      <label for="author">Author</label><br>
      {{input value=author id="author" class="custom-form"}}
    </div>
    <div class="form-group">
      <label for="author">Date</label><br>
      {{input value=date id="date" class="custom-form"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label><br>
      {{textarea cols='100' rows='5' value=body id="body" class="custom-form"}}
    </div>
  </form>
  <button class="btn btn-primary" {{action 'addComment'}}>Add Comment</button>
</div>

{{yield}}
