{{#if showUpdateForm}}
<center>
  <form>

    <div class="form-group">
      <label for="author">Author</label><br>
      {{input value=author id="author" placeholder=model.author class="custom-form"}}
    </div>

    <div class="form-group">
      <label for="date">Date</label><br>
      {{input value=date id="date" class="custom-form" placeholder=model.date}}
    </div>

    <div class="form-group">
      <label for="title">Title:</label><br>
      {{input value=title id="title" class="custom-form" placeholder=model.title}}
    </div>

    <div class="form-group">
      <label for="body">Body</label><br>
      {{textarea cols='100' rows='20' class="custom-form" value=body id="body" placeholder=model.body}}
    </div>

    <div class="form-group">
      <label for="category">Category</label><br>
      {{input value=category id="category" class="custom-form" placeholder=model.category}}
    </div>

    <div class="form-group">
      <label for="image">Image-link:</label><br>
      {{input value=image id="image" class="custom-form" placeholder=model.image}}
    </div>

    <div class="row text-center">
      <button class="btn btn-primary" {{action 'updatePost' model}}>Update this post</button>
    </div>
  </form>
</center>
{{else}}
  <button class="btn update-btn btn-info" {{action 'showUpdateForm'}}>Update this post</button>
{{/if}}
{{yield}}
