<h1>{{model.title}}</h1>

<h4>By: {{model.author}}</h4>

<p>
  {{model.body}}
</p>

{{model.comments}}

<p>
  {{#each model}}
  <ul>
    <li>Model: {{model}}</li>
    {{#each comment in comments}}
      <li>{{comment.body}}</li>
    {{/each}}
  </ul>
  {{/each}}
</p>

<p>
  <ul>
  {{#each model.comments as |comment|}}
  debugger;
    <li>{{comment.body}}</li>
  {{/each}}
  </ul>
</p>

<button{{action 'deletePost' model}}>Delete this post</button>
{{outlet}}
