<div id="show-page-wrapper">
  <div class="row text-center">
    <h1 class="post-heading">{{model.title}}</h1>
  </div>

  <div class="row text-center">
    <img src={{model.image}} alt="" />

  </div>

  <div class="row text-center">
    <p class="lead">By: {{model.author}}</p>
  </div>

  <div id="body" class="container">
    <p class="post-body">{{model.body}}</p>
  </div>

  <div class="comment-wrapper">
    <ul>
      {{#each model.comments as |comment|}}
      <li>{{comment.body}}</li>
      {{/each}}
    </ul>

  </div>

  {{new-comment saveComment='saveComment' model=model}}

  <div class="row text-center">
    <div class="delete-btn">
      <button class="btn btn-danger" id="delete-post-btn" {{action 'deletePost' model}}>Delete this post</button>
    </div>

    <div class="row">
      {{update-post model=model updatePost='updatePost' }}
    </div>
  </div>

</div>
