<div id="show-page-wrapper">
  <div class="row text-center">
    <h1 class="post-heading">{{model.title}}</h1>
  </div>

  <div class="row text-center">
    <img src={{model.image}} alt="" />

  </div>

  <div class="row text-center">
    <p class="lead">By: {{model.author}}</p>
  </div>

  <div id="body" class="container text-justify">
    <p class="post-body">{{model.body}}</p>
  </div>



  <!-- update and delete buttons -->
  <div class="row text-center">
    <div class="delete-btn">
      <button class="btn btn-danger" id="delete-post-btn" {{action 'deletePost' model}}>Delete this post</button>
    </div>

    <div class="row">
      {{update-post model=model updatePost='updatePost' }}
    </div>
  </div>

  </div>

  <!-- <div class="comment-wrapper">
    <ul>
      {{#each model.comments as |comment|}}
      <li>{{comment.body}}</li>
      {{/each}}
    </ul>
  </div> -->
  <div class="new-comment-btn row text-center">
    {{new-comment saveComment='saveComment' model=model}}
  </div>


<div class="container">
  {{#each model.comments as |comment|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{comment.author}}</h3>
    </div>
    <div class="panel-body">
      {{comment.body}}
    </div>
  </div>
  {{/each}}
</div>
